
{%extends "layout.twig"%}
{%block content %}
		{% for blogPosts in blogPosts %}
	<div class= "blog-post">
		<h2>{{ blogPosts.title }}</h2>
		<p>Apr 20, 2018 <a href="">Alex</a></p>
		
			{% if blogPost.image %}
				<div class="blog-post-image">
				<img src="{{blogPost.img_url}}" alt="">
				</div>
			{% endif %}
		<div class="blog-post-content">
			{{blogPosts.content}}
		</div>
	</div>
	{%endfor%}

{%endblock%}
